body {
    font-size: 24px;
}
li.red {
    color: red;
}
li.green {
    color: green;
}
ul ol li.green {
    color: green;
}
ul ol li.red {
    color: red;
}
ul ol li.blue {
    color: blue;
}
p.italic {
    italic;
}
p.bold {
    bold;
}